.imageprop{
    float: left;
    width:135px;
    height: 63px;
}

.fillcolor{
    background-color: grey;
    margin-left: -15px;
}
.headerTitle{
    text-align: center;
    color: white;
    font-size: 32px;
}

.headerimg{
    float: right;
    height: 39px;
    width: 60px;
}

.pieChart{
    
}


.fillSideBar{
   background-color: whitesmoke;
    border:1px solid #ccc;
    width:7% !important;
    height:100vh !important;
}
.rowC{display:flex; flex-direction:row; margin-left: 0% !important}

.setprop{
   height:100vh !important;
}

.filldiv{
    border :7px solid #ccc;
    text-align: center;
}

.addborder{
    border-right: 7px solid #ccc;
}

.addheight{
    height:25vh !important;
    text-align: center;
    color:dimgrey;
    vertical-align: middle;
}

.setimg{
        margin-top: 50%;
}